<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <title>{{ site.title }}{% if page.title %} › {{ page.title }}{% endif %}</title>

  <meta property="og:site_name" content="{{ site.title }}" >
  <meta property="og:locale" content="en_US">
  {% if page.title %}
  <meta property="og:title" content="{{ page.title }}">
  <meta property="og:type" content="article">
  {% else %}
  <meta property="og:title" content="{{ site.title }}" >
  <meta property="og:type" content="website">
  {% endif %}
  {% if page.url %}
  <meta property="og:url" content="{{ site.url }}{{ page.url }}" >
  <link rel="canonical" href="{{ site.url }}{{ page.url }}">
  {% else %}
  <meta property="og:url" content="{{ site.url }}" >
  <link rel="canonical" href="{{ site.url }}">
  {% endif %}
  {% if page.description %}
  <meta name="description" content="{{ page.description }}" >
  <meta property="og:description" content="{{ page.description }}" >
  {% else %}
  <meta name="description" content="{{ site.description }}" >
  <meta property="og:description" content="{{ site.description }}" >
  {% endif %}
  {% if page.ogimage %}
  <meta name="twitter:card" content="summary_large_image" />
  <meta property="og:image" content="{{ site.url }}/assets/og/{{ page.ogimage }}" >
  {% else %}
  <meta name="twitter:card" content="summary" />
  <meta property="og:image" content="{{ site.url }}/assets/avatar.png" >
  {% endif %}
  <meta name="twitter:site" content="@{{ site.twitter }}" />
  <meta name="twitter:creator" content="@{{ site.twitter }}" />

  <link href="https://micro.blog/bomberstudios" rel="me">
  <link rel="stylesheet" href="/assets/css/style.css">

  {%- feed_meta -%}

  <link rel="icon" href="/assets/32.png" sizes="32x32">
  <link rel="icon" href="/assets/192.png" sizes="192x192">
  <link rel="apple-touch-icon" href="/assets/apple-touch-icon.png" sizes="180x180">
  {% comment %}
  This seems to confuse feed readers 🤔
  <link rel="shortcut icon" href="/images/favicon.svg">
  <link rel="mask-icon" sizes="any" href="/images/favicon.svg" color="#ff6600">
  {% endcomment %}
  <!-- NetlifyCMS -->
  <script src="https://identity.netlify.com/v1/netlify-identity-widget.js"></script>
</head>
