:root {
  color-scheme: light dark;
  --brand: light-dark(#f60, #f60);
  accent-color: var(--brand);
  --text-color: light-dark(#333, #aaa);
  --quote-color: light-dark(#666,#777);
  --quote-bg: light-dark(#f4f4f4, #111);
  --bg-color: light-dark(#fff, #222);
  --subtle: light-dark(#eee, #363636);
  --subtle-text: light-dark(#aaa, #555);

  /* Selection */
  ::-moz-selection { /* Code for Firefox */
    color: var(--bg-color);
    background: var(--brand);
  }
  ::selection {
    color: var(--bg-color);
    background: var(--brand);
  }
}


html {
  display: flex;
  flex-direction: column;
}

body {
  margin: 0;
  padding: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Segoe UI Symbol",
    "Segoe UI Emoji", "Apple Color Emoji", Roboto, Helvetica, Arial, sans-serif;
  font-size: 1.1em;
  line-height: 1.5;
  color: var(--text-color);
  background-color: var(--bg-color);
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  flex: 0 1 0;
  header {
    flex: 0 0 auto;
  }

  text-wrap: pretty;

  /* Code Blocks */
  word-wrap: break-word; /* force long words to break */
  overflow-wrap: break-word; /* newer syntax standard that replaces word-wrap */
  main {
    flex: 1;
    padding: 0 2em;
  }
  a {
    color: var(--brand);
  }
  img {
    width: 100%;
    border: 1px solid #ddd;
    border-radius: 1em;
    box-shadow: 0 10px 20px var(--subtle);
    &:hover {
      border-color: var(--brand);
    }
  }
}

main,
header nav div {
  margin: 0 auto;
  max-width: 60ch;
}
ul,
ol {
  list-style: none;
  margin: 0;
  padding: 0;
}
a {
  text-decoration: none;
}
nav {
  text-align: right;
  background-color: var(--brand);
  padding: 0.5em 1em;
  a {
    color: var(--bg-color);
  }
}
main a:hover {
  color: var(--bg-color);
  background-color: var(--brand);
  text-decoration: none;
}

hr {
  margin: 2em 0;
  border: none;
  border-top: 1px solid var(--subtle);
}

h1.post-title,
.post-list h3,
.post-list h3 .post-link {
  font-weight: 900;
  font-size: 2.5rem;
  line-height: 1.1em;
}
h1.post-title,
.post-list h3 .post-link {
  color: var(--brand);
}
h1.post-title {
  margin: 0;
}
.post-meta {
  color: var(--subtle-text);
}
h3 + .post-meta {
  display: block;
  margin-top: 0.5rem;
}
article {
  li {
    list-style: square;
    margin: 0 0 0.3em 2em;
  }
  ul, ol {
    margin-top: 1em;
  }
}
.post-list h3 .post-link:hover {
  color: var(--bg-color);
  background-color: var(--brand);
}
.post-list {
  & > li {
    margin-bottom: 1.5em;
  }
  h3 {
    margin: 0;
    display: block;
  }
}

.post-nav {
  display: flex;
  margin: 3em 0;
}
.post-nav div {
  flex: 1 1 0;
}
.post-nav-next {
  text-align: right;
}

blockquote {
  font-weight: 200;
  color: var(--quote-color);
  background-color: var(--quote-bg);
  margin-left: 0;
  margin-right: 0;
  padding: 1em;
  border-left: 2px solid var(--quote-color);
  p {
    margin: 0;
  }
  em {
    font-style: normal;
  }
}

.logo {
  display: block;
  text-align: center;
  margin: 0;
  padding: 2em 0;
  circle {
    fill: var(--brand);
  }
  &:hover {
    background-color: var(--brand);
    circle {
      fill: var(--bg-color);
    }
  }
}

.footnotes {
  font-size: 0.9em;
  margin-top: 3em;
  border-top: 1px solid var(--subtle);
  padding-top: 1em;
}

footer {
  margin-top: 4em;
  font-size: 0.8em;
  padding: 1em;
  color: var(--quote-color);
  text-align: center;
}

/* Code Blocks */
code,
pre,
samp {
  white-space: pre-wrap; /* force long lines to break */
}
pre {
  margin: 0;
}
div.highlighter-rouge {
  background: var(--subtle);
  padding: 1em;
  border-radius: 0.5em;
}

.page-link {
  margin-left: 1em;
}

.pagination {
  text-align: center;
  .previous {
    float: left;
  }
  .next {
    float: right;
  }
}

.post-content {
  h2 {
    margin: 0;
    margin-top: 1em;
    margin-bottom: -0.3em;
  }
}

.page-content {
  margin-top: 1rem;
}