---
const today = new Date();
---

<footer>
  &copy; {today.getFullYear()} — Made with 🍊 by Ale Muñoz. You should follow me on
  <a href="https://mastodon.online/@bomberstudios">Mastodon</a>,
  <a href="https://bsky.app/profile/bomberstudios.com">Bluesky</a> or
  <a href="https://github.com/bomberstudios">GitHub</a>.
</footer>

<style>
  footer {
    border-top: 1px solid #00000033;
    font-size: 0.9rem;
    padding: 2rem 2rem 4rem 2rem;
    margin-block-start: 4rem;
    flex: 0;
    text-align: center;
    color: var(--subtle-text);
    background-color: var(--subtle);
  }
</style>