---
import { Image } from 'astro:assets'
import HeaderLink from '@components/HeaderLink.astro'
import logo from '@public/favicon.svg'
---

<header>
  <nav>
    <div class="internal-links">
      <HeaderLink href="/about">About</HeaderLink>
      <HeaderLink href="/orange">Orange Stuff</HeaderLink>
      <HeaderLink href="/rss.xml">RSS Feed</HeaderLink>
    </div>
    <div class="logo">
      <HeaderLink href="/">
        <Image src={logo} alt="Logo" width={64} height={64} />
      </HeaderLink>
    </div>
  </nav>
</header>
