---
import { Image } from 'astro:assets'
import HeaderLink from '@components/HeaderLink.astro'
import logo from '@images/favicon.svg'
---

<header>
  <nav>
    <div class="internal-links">
      <HeaderLink href="/about">About</HeaderLink>
      <HeaderLink href="/orange">Orange Stuff</HeaderLink>
      <HeaderLink href="/rss.xml">RSS Feed</HeaderLink>
    </div>
  </nav>
</header>

<div class="logo">
  <HeaderLink href="/">
    <Image src={logo} alt="Logo" width={128} height={128} loading="eager" />
  </HeaderLink>
</div>
