:root {
  --button-color: white;
  --button-bg: royalblue;
  --button-bg-hover: oklch(from var(--button-bg) calc(l * 1.1) c h);
  --button-bg-active: rgb(11, 117, 11);
  --button-bg-active-hover: rgb(218, 35, 35);
}

button {
  font-size: 16px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.3);
  color: var(--button-color);
  padding: 14px 20px;
  border: none;
  background-color: royalblue;
  border-radius: 6px;
  cursor: pointer;
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 12px;
  transition: background 0.2s ease-in-out;

  min-width: 250px;
  &:hover {
    background-color: var(--button-bg-hover);
  }
  &:active,
  &.active {
    margin-top: 2px;
    margin-bottom: -2px;
    box-shadow: inset 0 0 4px rgba(0, 0, 0, 0.5);
  }
  &.active {
    background-color: var(--button-bg-active);
    &:hover {
      /* background-color: var(--button-bg-active-hover); */
    }
    .icon {
      animation: spin 1s linear infinite;
    }
  }
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
