---
// import '@bomberstudios/css-library/index.css'
import BaseHead from '@components/BaseHead.astro'
import Header from '@components/Header.astro'
import Footer from '@components/Footer.astro'
const { title, description } = Astro.props
---

<!doctype html>
<html lang="en">
  <head>
    <BaseHead title={title} description={description} />
  </head>
  <body>
    <Header />
    <main>
      <slot />
    </main>
    <Footer />
  </body><script>
    ;(function () {
      const trackVisit = function () {
        const img = new Image()
        const currentPath = encodeURIComponent(window.location.pathname)
        const referrer = encodeURIComponent(document.referrer || '')
        img.src =
          'https://f2b5f9ec-28f9-49b7-8bea-b5b469ee9ba8.lovableproject.com/track?page=' +
          currentPath +
          '&ref=' +
          referrer +
          '&sid=89sqp8owpl5' +
          '&t=' +
          new Date().getTime()
        img.style.display = 'none'
        document.body.appendChild(img)
      }
      if (
        document.readyState === 'complete' ||
        document.readyState === 'interactive'
      ) {
        setTimeout(trackVisit, 1)
      } else {
        document.addEventListener('DOMContentLoaded', trackVisit)
      }
    })()
  </script>
</html>
